<div class="post-page">
  <div class="banner">
    <ng-container *ngIf="article2$ | async as article; else loading">
      <div class="container">
        <h1>{{ article.title }}</h1>

        <div class="post-meta">
          <div class="info">
            <span class="author">Eric Simons</span>
            <span class="date">2019-04-26</span>
          </div>
        </div>
      </div>

      <div class="container page">
        <div class="row post-content">
          <div class="col-md-12">
            {{ article.body }}
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #loading>
      loaing...
    </ng-template>
  </div>
</div>
